.main_card {
    display: flex;
    gap: 25px;
}
.ot_heading h6, .ot_heading .sub_heading {
    font-size: 14px;
    font-weight: bold;
    color: #a5b7d2;
    position: relative;
    display: inline-block;
    padding-left: 21px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.ot_heading .sub_heading::before{
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background: #a5b7d2;
    top: 3.5px;
    left: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.ot_heading .sub_heading::after{
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background: #a5b7d2;
    top: 3.5px;
    left: auto;
    right: -21px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.main-heading{
    margin: 0 0 20px;
    color: #1a1b1e;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.75rem;
}
.main_card .card_boxes {
    width: 31%;
    margin-top: 5%;
    margin-bottom: 5%;
  
    transition: all 0.3s linear;
}
.main_card .card_boxes:hover {
    border-radius: 4%;
box-shadow: 8px 8px 30px 0px rgb(42 67 113 / 15%);
-webkit-box-shadow: 8px 8px 30px 0px rgb(42 67 113 / 15%);
-moz-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
background: #fff;
}
.countNum {
    position: relative;
    height: 75px;
    width: 75px;
    top: -38px;
    left: 40%;
    line-height: 3;
    background-image: linear-gradient(145deg, #0160e7, #0ea0dc);
    font-size: 22px;
    color: #fff;
    font-weight: 900; 
    border-radius: 50%;
}
.card_Image {
    width: 100%;
}
.card_body_box {
    
    margin-bottom: 30px;
}

.card_body_box .Start_title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'Red Hat Text', sans-serif;

}
.card_body_box .start_text {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Red Hat Text', sans-serif;
}
@media only screen and (max-width: 1024px) and (min-width: 576px) {
    .main_card .card_boxes {
        width: 30%;
    }
    .countNum {
    position: relative;
    height: 60px;
    width: 60px;
    top: -30px;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
@media(max-width: 576px){
    .main_card {
        flex-direction: column;
        margin-top: 5%;
    }
    .ot_heading {
        margin-bottom: 50px;
    }
    .main-heading {
        
        font-size: 1.75rem;
    }
    .main_card .card_boxes {
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 5%;
        transition: all 0.3s linear;
    }
}